<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.andres.calderonbecerra.pocketchef"
        versionCode="10" 
        version   = "1.0.0">

    <!-- versionCode is optional and Android only -->

    <name>Pocket chef</name>

    <description>
        App para cocinar 
    </description>

    <author href="https://build.phonegap.com" email="andres.calderonbecerra@gmail.com">
       Andrés Calderon 
    </author>
    
    <icon src"icons/ldpi.svg" gap:platform="android" gap:density="ldpi"/> 
    <icon src"icons/mdpi.svg" gap:platform="android" gap:density="mdpi"/> 
    <icon src"icons/hdpi.svg" gap:platform="android" gap:density="hdpi"/> 
    <icon src"icons/xhdpi.svg" gap:platform="android" gap:density="xhdpi"/> 

</widget>